body {
  font-family: Arial, sans-serif;
  background-color: #fff6da; /* light yellow */
  margin: 0;
  padding: 0;
}

form {
  background-color: #fef1c7; /* cream */
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d9850d; /* honey */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ffd699; /* darker yellow */
}

th, td {
  padding: 10px;
  text-align: left;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e3b261; /* darker honey */
}

input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e3b261; /* darker honey */
}

button {
  background-color: #ffb84d; /* darker orange */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
}

button:hover {
  background-color: #ff9933; /* lighter orange */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #d9850d; /* honey */
}
